*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: dodgerblue;
}

h1{
    margin: 30px;
}

.lista{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color:rgb(255, 230, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}